.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: var(--space-l);
}

.cards > ul > li {
  background-color: var(--background-color);
  
  .cards-card-body :is(h2, h3, h4, h5, h6) {
    font-size: var(--body-font-size-l);
  }
}

.cards .cards-card-body {
  margin: var(--space-s);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.icons > ul > li {
  .cards-card-image img {
    width: initial;
    padding-left: var(--space-s);
    object-fit: initial;
    max-width: 60px;
    aspect-ratio: 1 / 1;
  }
}