.disclaimers summary {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  padding: var(--space-m) 0;
  color: var(--link-color);
  font-size: var(--body-font-size-s);
  cursor: pointer;
  list-style: none;
}

.disclaimers summary::-webkit-details-marker {
  display: none;
}

.disclaimers summary::after {
  content: "";
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  background-color: currentcolor;
  mask: url("../../icons/chevron-down.svg") center / contain no-repeat;
  transition: transform 0.2s;
}

.disclaimers details[open] summary::after {
  transform: rotate(180deg);
}

.disclaimers ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding-left: 0;
  list-style: none;
  font-size: var(--body-font-size-xs);
  color: var(--rbc-grey-600);
}

.disclaimers .disclaimers-label {
  font-weight: 700;
}
