footer {
  background-color: var(--rbc-cool-white);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: var(--space-2xl) var(--space-l) var(--space-l);
}

footer .footer p {
  margin: 0;
}

@media (width >= 768px) {
  footer .footer > div {
    padding: var(--space-2xl) var(--space-xl) var(--space-l);
  }
}
